  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/style/ucam2012/full-stylesheet.css">
  <link rel="stylesheet" href="/style/ucam2012/extensions.css">

  <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">  document.documentElement.className += " js";</script>
<link href="people/" rel="Next"><link href="../" rel="Up"><script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47341509-1', 'cam.ac.uk');
  ga('send', 'pageview');
</script>
