  </div><!-- end campl-content-container -->
</div>
</div>
</div>

  <div class="campl-row campl-local-footer" id="local-footer">
      <div class="campl-wrap clearfix">
          <div class="campl-column12">
              <div class="campl-side-padding">
                  <p style="margin:0">&#169; 2020 Department of Computer Science and Technology, University of Cambridge<br>Information provided by
                      <a href="https://www.cl.cam.ac.uk/~rmm1002/">Richard Mortier</a>
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="campl-row campl-global-footer">
      <div class="campl-wrap clearfix">
          <div class="campl-column3 campl-footer-navigation">
              <div class="campl-content-container campl-footer-logo">
                  <img alt="University of Cambridge" src="/style/ucam2012/img/main-logo-small.png" class="campl-scale-with-grid">
                  <ul class="campl-unstyled-list campl-global-footer-links">
                      <li><a href="https://www.cam.ac.uk/university-a-z">University A-Z</a></li>
                      <li><a href="https://www.cam.ac.uk/contact-the-university">Contact the University</a>
              </li><li>
                <a href="https://www.cam.ac.uk/about-this-site/accessibility">Accessibility</a>
              </li><li>
                <a href="http://www.admin.cam.ac.uk/univ/information/foi/">Freedom of information</a>
              </li><li>
                <a href="https://www.cam.ac.uk/about-this-site/terms-and-conditions">Terms and conditions</a>
              </li></ul></div></div><div class="campl-column3 campl-footer-navigation"><div class="campl-content-container campl-navigation-list"><div class="link-list"><h3><a href="https://www.cam.ac.uk/study-at-cambridge">Study at Cambridge</a></h3><ul class="campl-unstyled-list"><li>
                <a href="http://www.study.cam.ac.uk/undergraduate/">Undergraduate</a>
              </li><li>
                <a href="http://www.graduate.study.cam.ac.uk/">Graduate</a>
              </li><li>
                <a href="http://www.internationalstudents.cam.ac.uk">International students</a>
              </li><li>
                <a href="http://www.ice.cam.ac.uk">Continuing education</a>
              </li><li>
                <a href="http://www.epe.admin.cam.ac.uk/">Executive and professional education</a>
              </li><li>
                <a href="http://www.educ.cam.ac.uk">Courses in education</a>
              </li></ul></div></div></div><div class="campl-column3 campl-footer-navigation"><div class="campl-content-container campl-navigation-list"><h3><a href="https://www.cam.ac.uk/about-the-university">About the University</a></h3><ul class="campl-unstyled-list campl-page-children"><li>
              <a href="https://www.cam.ac.uk/about-the-university/how-the-university-and-colleges-work">How the University and Colleges work</a>
            </li><li>
              <a href="https://www.cam.ac.uk/about-the-university/visiting-the-university">Visiting the University</a>
            </li><li>
              <a href="http://map.cam.ac.uk">Map</a>
            </li><li>
              <a href="https://www.cam.ac.uk/news">News</a>
            </li><li>
              <a href="http://www.admin.cam.ac.uk/whatson/">Events</a>
            </li><li>
              <a href="http://www.jobs.cam.ac.uk">Jobs</a>
            </li><li>
              <a href="https://www.philanthropy.cam.ac.uk/">Give to Cambridge</a>
            </li></ul></div></div><div class="campl-column3 campl-footer-navigation last"><div class="campl-content-container campl-navigation-list"><h3><a href="https://www.cam.ac.uk/research">Research at Cambridge</a></h3><ul class="campl-unstyled-list"><li>
              <a href="https://www.cam.ac.uk/research/news">News</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/features">Features</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/discussion">Discussion</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/spotlight-on">Spotlight on...</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/research-at-cambridge">About research at Cambridge</a>
            </li>
                 </ul>
             </div>
         </div>
     </div>
 </div>
 <!--[if lte IE 8]></div><![endif]--><script type="text/javascript" src="/style/ucam2012/js/libs/ios-orientationchange-fix.js"></script><script type="text/javascript" src="/style/ucam2012/js/libs/jquery-min.js"></script><script type="text/javascript" src="/style/ucam2012/js/libs/modernizr.js"></script><script type="text/javascript" src="/style/ucam2012/js/custom.js"></script></div></div>
