<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/style/ucam2012/full-stylesheet.css">
  <link rel="stylesheet" href="/style/ucam2012/extensions.css">

  <script type="text/javascript" src="//use.typekit.com/hyb5bko.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">  document.documentElement.className += " js";</script>
<link href="people/" rel="Next"><link href="../" rel="Up"><script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-47341509-1', 'cam.ac.uk');
  ga('send', 'pageview');
</script></head>
<body class="campl-theme-5"><!--[if lt IE 7]><div class="lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]><div class="lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]><div class="lt-ie9"><![endif]--><a href="#primary-nav" class="campl-skipTo">skip to primary navigation</a><a href="#content" class="campl-skipTo">skip to content</a><div class="campl-row campl-global-header"><div class="campl-wrap clearfix"><div class="campl-header-container campl-column8" id="global-header-controls"><a href="https://www.cam.ac.uk/" class="campl-main-logo">

{% include srg_header.html %}
  
<!-- PAGE CONTENT -->
{{ content }}
<!-- END PAGE CONTENT -->

  </div><!-- end campl-content-container -->
</div>
</div>
</div>

  <div class="campl-row campl-local-footer" id="local-footer">
      <div class="campl-wrap clearfix">
          <div class="campl-column12">
              <div class="campl-side-padding">
                  <p style="margin:0">&#169; 2020 Department of Computer Science and Technology, University of Cambridge<br>Information provided by
                      <a href="https://www.cl.cam.ac.uk/~rmm1002/">Richard Mortier</a>
                  </p>
              </div>
          </div>
      </div>
  </div>

  <div class="campl-row campl-global-footer">
      <div class="campl-wrap clearfix">
          <div class="campl-column3 campl-footer-navigation">
              <div class="campl-content-container campl-footer-logo">
                  <img alt="University of Cambridge" src="/style/ucam2012/img/main-logo-small.png" class="campl-scale-with-grid">
                  <ul class="campl-unstyled-list campl-global-footer-links">
                      <li><a href="https://www.cam.ac.uk/university-a-z">University A-Z</a></li>
                      <li><a href="https://www.cam.ac.uk/contact-the-university">Contact the University</a>
              </li><li>
                <a href="https://www.cam.ac.uk/about-this-site/accessibility">Accessibility</a>
              </li><li>
                <a href="http://www.admin.cam.ac.uk/univ/information/foi/">Freedom of information</a>
              </li><li>
                <a href="https://www.cam.ac.uk/about-this-site/terms-and-conditions">Terms and conditions</a>
              </li></ul></div></div><div class="campl-column3 campl-footer-navigation"><div class="campl-content-container campl-navigation-list"><div class="link-list"><h3><a href="https://www.cam.ac.uk/study-at-cambridge">Study at Cambridge</a></h3><ul class="campl-unstyled-list"><li>
                <a href="http://www.study.cam.ac.uk/undergraduate/">Undergraduate</a>
              </li><li>
                <a href="http://www.graduate.study.cam.ac.uk/">Graduate</a>
              </li><li>
                <a href="http://www.internationalstudents.cam.ac.uk">International students</a>
              </li><li>
                <a href="http://www.ice.cam.ac.uk">Continuing education</a>
              </li><li>
                <a href="http://www.epe.admin.cam.ac.uk/">Executive and professional education</a>
              </li><li>
                <a href="http://www.educ.cam.ac.uk">Courses in education</a>
              </li></ul></div></div></div><div class="campl-column3 campl-footer-navigation"><div class="campl-content-container campl-navigation-list"><h3><a href="https://www.cam.ac.uk/about-the-university">About the University</a></h3><ul class="campl-unstyled-list campl-page-children"><li>
              <a href="https://www.cam.ac.uk/about-the-university/how-the-university-and-colleges-work">How the University and Colleges work</a>
            </li><li>
              <a href="https://www.cam.ac.uk/about-the-university/visiting-the-university">Visiting the University</a>
            </li><li>
              <a href="http://map.cam.ac.uk">Map</a>
            </li><li>
              <a href="https://www.cam.ac.uk/news">News</a>
            </li><li>
              <a href="http://www.admin.cam.ac.uk/whatson/">Events</a>
            </li><li>
              <a href="http://www.jobs.cam.ac.uk">Jobs</a>
            </li><li>
              <a href="https://www.philanthropy.cam.ac.uk/">Give to Cambridge</a>
            </li></ul></div></div><div class="campl-column3 campl-footer-navigation last"><div class="campl-content-container campl-navigation-list"><h3><a href="https://www.cam.ac.uk/research">Research at Cambridge</a></h3><ul class="campl-unstyled-list"><li>
              <a href="https://www.cam.ac.uk/research/news">News</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/features">Features</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/discussion">Discussion</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/spotlight-on">Spotlight on...</a>
            </li><li>
              <a href="https://www.cam.ac.uk/research/research-at-cambridge">About research at Cambridge</a>
            </li>
                 </ul>
             </div>
         </div>
     </div>
 </div>
 <!--[if lte IE 8]></div><![endif]--><script type="text/javascript" src="/style/ucam2012/js/libs/ios-orientationchange-fix.js"></script><script type="text/javascript" src="/style/ucam2012/js/libs/jquery-min.js"></script><script type="text/javascript" src="/style/ucam2012/js/libs/modernizr.js"></script><script type="text/javascript" src="/style/ucam2012/js/custom.js"></script></div></div></body>
