<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js">
<head>
{% include default_head.html %}
  
</head>
<body class="campl-theme-5"><!--[if lt IE 7]><div class="lt-ie9 lt-ie8 lt-ie7"><![endif]--><!--[if IE 7]><div class="lt-ie9 lt-ie8"><![endif]--><!--[if IE 8]><div class="lt-ie9"><![endif]--><a href="#primary-nav" class="campl-skipTo">skip to primary navigation</a><a href="#content" class="campl-skipTo">skip to content</a><div class="campl-row campl-global-header"><div class="campl-wrap clearfix"><div class="campl-header-container campl-column8" id="global-header-controls"><a href="https://www.cam.ac.uk/" class="campl-main-logo">

{% include srg_header.html %}
  
<!-- PAGE CONTENT -->
{{ content }}
<!-- END PAGE CONTENT -->

{% include srg_footer.html %}
  
</body>
</html>
  
